<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>juegomemoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5F24A391D8D809200DEB59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F24A4D1D8D809300DEB59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F24A581D8D809300DEB59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
